<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Tester votre projet</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Accueil</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">test</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- Basic Example | Horizontal Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">

            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
              <aw-wizard-step [stepTitle]="'Étape 1'">
                <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
                <div class="centered-content">
                  <div>
                    <form #f1="ngForm">
                      <div class="mt-5 pt-3 mb-5 row">
                        <div class="col-8">
                          <h4>Choisir un projet</h4>
                          <mat-form-field style="width:100%;">
                            <mat-label>Sélectionner un projet</mat-label>
                            <mat-select #sval (valueChange)="changeProject(sval.value)">
                              <mat-option *ngFor="let project of projects" [value]="project.id">
                                {{project.nom}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <a [href]="projectUrl" *ngIf="projectUrl !== null" target="_blank">visualiser le projet</a>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="text-right">
                    <button class="btn-hover btn-border-radius color-8" (click)="onSubmit()" awNextStep>Suivant</button>
                  </div>
                </div>
              </aw-wizard-step>
              <aw-wizard-step [stepTitle]="'étape 2'">
                <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
                <div class="centered-content">
                  <div class="row clearfix">

                    <div class="col-sm-6">

                        <div class="file-field input-field">
                          <div class="btn">
                            <span>BDD</span>
                            <input type="file" multiple (change)="onLoadBdd($event)">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text"
                                   placeholder="Importer les fichiers des Features"
                            >
                          </div>
                        </div>

                      <div class="file-field input-field">
                        <div class="btn">
                          <span>Script</span>
                          <input type="file" multiple (change)="onloadScript($event)">
                        </div>

                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text"
                                 placeholder="Importer les fichiers des Steps">

                        </div>

                      </div>

                      <div class="file-field input-field">
                        <input (input)="onChangeRapport($event.target.value)" class="form-control" type="text" placeholder="Entrez le src de votre rapport">
                      </div>

                      <div>
                        <button class="btn btn-primary btn-sm" (click)="onUploadFile()">Enregistrer</button>
                      </div>

                    </div>
                  </div>

                  <table class="table">
                    <tr>
                      <th>les fichier de bdd</th>
                      <th>les fichier de script</th>
                    </tr>
                    <tr *ngFor="let pk of pkTestResultD">
                      <td *ngIf="pk.projets[0].nom == nomProject"><a href="">{{ pk.bdds[0].nomFicher }}</a></td>
                      <td *ngIf="pk.projets[0].nom == nomProject"><a href="">{{ pk.scripts[0].nomFichier }}</a></td>
                    </tr>
<!--                    <tr>-->
<!--                      <td><a href="">seConnecter.feature</a></td>-->
<!--                      <td><a href="">seConnecter.java</a></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td><a href="">creerUnCompte.feature</a></td>-->
<!--                      <td><a href="">creerUnCompte.java</a></td>-->
<!--                    </tr>-->
                  </table>
                  <div class="text-right">
                    <button class="btn-hover btn-border-radius color-10"
                            awPreviousStep>Précédent</button>
                    <button class="btn-hover btn-border-radius color-8" awNextStep>Suivant</button>
                  </div>

                </div>
              </aw-wizard-step>
<!--              <aw-wizard-step [stepTitle]="'étape 3'">-->
<!--                <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>-->
<!--                <div class="centered-content">-->
<!--                  <div>-->
<!--                    <form>-->
<!--                      <div class="row mt-3">-->
<!--                        <div class="col-3"></div>-->

<!--                        <div class="col-6">-->
<!--                          <div class="input-field">-->
<!--                            <input (input)="onChangeRapport($event.target.value)" class="form-control" type="text" placeholder="Entrez le src de votre rapport">-->
<!--                          </div>-->
<!--                        </div>-->

<!--                      </div>-->


<!--                    </form>-->
<!--                  </div>-->

<!--                  <div class="text-right">-->
<!--                    <button class="btn-hover btn-border-radius color-10"-->
<!--                            awPreviousStep>Précédent</button>-->
<!--                    <button (click)="addRapport()" class="btn-hover btn-border-radius color-8" awNextStep>Suivant</button>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </aw-wizard-step>-->
              <aw-wizard-step [stepTitle]="'étape 3'">
                <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
                <div class="centered-content">
                  <div class="mt-3 font-bold justify-content-center">
                    Cliquer sur terminer pour voire les rapports
                  </div>
                  <div class="text-right">
                    <button class="btn-hover btn-border-radius color-10"
                            awPreviousStep>Précédente</button>
                    <button class="btn-hover btn-border-radius color-5" (click)="openDashbord()">Terminer</button>
                  </div>

                </div>
              </aw-wizard-step>

            </aw-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
